<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">Reminder App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">Accounts</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="./accounts/add">Add Account</a>
          <a class="dropdown-item" routerLink="./accounts" >View Accounts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Upload Clients</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">Invoices</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">New Invoice</a>
          <a class="dropdown-item" href="#">Search / Filter</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Upload Invoices</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" href="#" aria-expanded="false">Receivables</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">New Receiving</a>
          <a class="dropdown-item" href="#">Search / Filter</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Upload Receivables</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="_auth.isLoggedIn()">
        <a href="#" class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item" *ngIf="!_auth.isLoggedIn()">
        <a href="#" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="_auth.isLoggedIn()">
        <a href="#" class="nav-link" (click)="_auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>